@font-face {
  font-family: 'coolvetica_condensed';
  src: url("../fonts/font_coolvetica/coolvetica condensed rg.ttf"); }
@font-face {
  font-family: 'coolvetica_crammed';
  src: url("../fonts/font_coolvetica/coolvetica crammed rg.ttf"); }
@font-face {
  font-family: 'coolvetica_rg';
  src: url("../fonts/font_coolvetica/coolvetica rg.ttf"); }
@font-face {
  font-family: 'coolvetica_compressed';
  src: url("../fonts/font_coolvetica/coolvetica_compressed_rg.ttf"); }
@font-face {
  font-family: 'product_sans';
  src: url("../fonts/Font_konten/Product Sans Regular.ttf"); }
body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  max-width: 100%; }

section {
  margin-top: 150px; }

.no-italics {
  font-style: normal; }

.navbar {
  width: 100%;
  height: 110px; }

.background {
  width: 100%;
  height: auto; }

.wrapper-flex-center-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px 0 15px; }
  .wrapper-flex-center-down .tulisan-1 {
    font-size: 4em; }
    @media (max-width: 425px) {
      .wrapper-flex-center-down .tulisan-1 {
        font-size: 3em; } }
    @media (max-width: 375px) {
      .wrapper-flex-center-down .tulisan-1 {
        font-size: 2.5em; } }
    @media (max-width: 320px) {
      .wrapper-flex-center-down .tulisan-1 {
        font-size: 2em; } }
  .wrapper-flex-center-down .tulisan-1:nth-child(2) {
    line-height: 80px;
    font-size: 10em; }
    @media (max-width: 425px) {
      .wrapper-flex-center-down .tulisan-1:nth-child(2) {
        font-size: 7em; } }
    @media (max-width: 375px) {
      .wrapper-flex-center-down .tulisan-1:nth-child(2) {
        font-size: 6em; } }
    @media (max-width: 320px) {
      .wrapper-flex-center-down .tulisan-1:nth-child(2) {
        font-size: 5em; } }

.tulisan-1 {
  font-size: 1.5em;
  font-family: "coolvetica_condensed";
  color: white; }

.tulisan-2-judul {
  font-size: 2.5em;
  font-family: "product_sans";
  color: white;
  font-weight: 800;
  letter-spacing: 5px; }

@media (max-width: 425px) {
  .tulisan-2-judul {
    font-size: 2em;
    text-align: center; } }

@media (max-width: 375px) {
  .tulisan-2-judul {
    font-size: 1.5em;
    text-align: center; } }

@media (max-width: 320px) {
  .tulisan-2-judul {
    font-size: 1em;
    text-align: center; } }

.tulisan-2-judul-contact {
  font-size: 4em;
  font-family: "product_sans";
  color: white;
  font-weight: 800;
  letter-spacing: 5px; }

@media (max-width: 425px) {
  .tulisan-2-judul-contact {
    font-size: 2.5em;
    text-align: center; } }

@media (max-width: 375px) {
  .tulisan-2-judul-contact {
    font-size: 2em;
    text-align: center; } }

@media (max-width: 320px) {
  .tulisan-2-judul-contact {
    font-size: 1.5em;
    text-align: center; } }

.tulisan-3-konten {
  font-size: 1.3rem;
  font-family: "product_sans";
  color: white;
  font-style: italic;
  width: 85%;
  text-align: center;
  letter-spacing: 5px; }
  @media (max-width: 425px) {
    .tulisan-3-konten {
      text-align: center;
      font-size: 1rem; } }
  @media (max-width: 375px) {
    .tulisan-3-konten {
      text-align: center;
      font-size: 0.8rem; } }
  @media (max-width: 320px) {
    .tulisan-3-konten {
      text-align: center;
      font-size: 0.7rem; } }

.tulisan-3-kontenelectrath {
  font-size: 3rem;
  font-family: "product_sans";
  color: white;
  font-style: italic;
  width: 85%;
  text-align: center;
  letter-spacing: 5px; }

@media (max-width: 425px) {
  .tulisan-3-kontenelectrath {
    font-size: 2.5rem; } }

@media (max-width: 375px) {
  .tulisan-3-kontenelectrath {
    font-size: 2rem; } }

@media (max-width: 320px) {
  .tulisan-3-kontenelectrath {
    font-size: 1.5rem; } }

.tulisan-3-contact {
  font-size: 3rem;
  font-family: "product_sans";
  color: white;
  font-style: italic;
  width: 85%;
  text-align: center;
  letter-spacing: 5px; }

@media (max-width: 425px) {
  .tulisan-3-contact {
    font-size: 1.5rem; } }

@media (max-width: 375px) {
  .tulisan-3-contact {
    font-size: 1.3rem; } }

@media (max-width: 320px) {
  .tulisan-3-contact {
    font-size: 1rem; } }

.tulisan-3-kontenelectra-tl {
  font-size: 3rem;
  font-family: "product_sans";
  color: white;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  @media (max-width: 425px) {
    .tulisan-3-kontenelectra-tl {
      align-items: stretch;
      font-size: 2.5rem; } }
  @media (max-width: 375px) {
    .tulisan-3-kontenelectra-tl {
      font-size: 2rem; } }
  @media (max-width: 320px) {
    .tulisan-3-kontenelectra-tl {
      font-size: 1.5rem; } }

.tulisan-3-kontenelectra-tldate {
  font-size: 1.3rem;
  font-family: "product_sans";
  color: white;
  letter-spacing: 2px; }
  @media (max-width: 425px) {
    .tulisan-3-kontenelectra-tldate {
      font-size: 1rem; } }
  @media (max-width: 375px) {
    .tulisan-3-kontenelectra-tldate {
      font-size: 0.8rem; } }
  @media (max-width: 320px) {
    .tulisan-3-kontenelectra-tldate {
      font-size: 0.7rem; } }

.judulKategoriBaronas {
  font-size: x-large;
  font-family: "product_sans";
  color: white;
  letter-spacing: 2px; }
  @media (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    .judulKategoriBaronas {
      text-align: center; } }
  @media (max-width: 768px) {
    .judulKategoriBaronas {
      text-align: center; } }

.pesertaKategoriBaronas {
  color: white;
  font-family: "product_sans";
  text-align: left;
  font-size: larger; }
  @media (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    .pesertaKategoriBaronas {
      text-align: center; } }
  @media (max-width: 768px) {
    .pesertaKategoriBaronas {
      text-align: center; } }

.deskripsiKategoriBaronas {
  color: white;
  font-family: "product_sans";
  text-align: left; }

.buttonKategoriBaronas {
  color: white;
  background-color: black;
  border: solid white;
  padding: 10px;
  border-radius: 25px; }
  .buttonKategoriBaronas:hover {
    background-color: white;
    color: black;
    transition-duration: 1s; }
  @media (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    .buttonKategoriBaronas {
      display: block;
      margin: 0 auto; } }
  @media (max-width: 768px) {
    .buttonKategoriBaronas {
      display: block;
      margin: 0 auto; } }

@media (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .logoKategoriBaronas {
    display: block;
    margin: 0 auto; } }
@media (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .logoKategoriBaronas {
    transform: translateX(-25%); } }
@media (max-width: 768px) {
  .logoKategoriBaronas {
    display: block;
    margin: 0 auto; } }

@media (min-width: 1024px) {
  .listKategori {
    transform: translateX(-10%); } }

.garis-bawah {
  height: auto;
  width: 85%;
  padding: 0 15px 15px 15px;
  margin-top: 20px;
  border-bottom: 10px solid white; }
  .garis-bawah #gambar-tulisan {
    width: 100%;
    height: auto; }

.garis-bawah-judul {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 0 15px 15px 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: 10px solid white; }
  @media (max-width: 768px) {
    .garis-bawah-judul {
      width: auto;
      border-bottom: 9px solid white; } }
  @media (max-width: 425px) {
    .garis-bawah-judul {
      width: auto;
      border-bottom: 8px solid white; } }
  @media (max-width: 375px) {
    .garis-bawah-judul {
      width: auto;
      border-bottom: 7px solid white; } }
  @media (max-width: 320px) {
    .garis-bawah-judul {
      width: auto;
      border-bottom: 6px solid white; } }

.wrapper-flex-center {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between; }
  .wrapper-flex-center #logo-evolty {
    max-width: 75%;
    height: auto; }
  .wrapper-flex-center #logo-medsos {
    width: 3.5em;
    margin-right: 15px;
    cursor: pointer; }
    @media (max-width: 425px) {
      .wrapper-flex-center #logo-medsos {
        width: 3em; } }
    @media (max-width: 375px) {
      .wrapper-flex-center #logo-medsos {
        width: 2.5em; } }
    @media (max-width: 320px) {
      .wrapper-flex-center #logo-medsos {
        width: 2.25em; } }
  .wrapper-flex-center #logo-berderet {
    width: 15em; }
    @media (max-width: 425px) {
      .wrapper-flex-center #logo-berderet {
        width: 13em; } }
    @media (max-width: 375px) {
      .wrapper-flex-center #logo-berderet {
        width: 12em; } }
    @media (max-width: 320px) {
      .wrapper-flex-center #logo-berderet {
        width: 10em; } }
  .wrapper-flex-center #logo-navbar {
    max-height: 50px;
    width: auto; }
    @media (max-width: 425px) {
      .wrapper-flex-center #logo-navbar {
        height: 40px; } }
    @media (max-width: 425px) {
      .wrapper-flex-center #logo-navbar .popke1 .popke1 {
        overflow: scroll; } }
    @media (max-width: 425px) {
      .wrapper-flex-center #logo-navbar .popke1 {
        overflow: scroll; } }
    @media (max-width: 375px) {
      .wrapper-flex-center #logo-navbar {
        height: 35px; } }
    @media (max-width: 320px) {
      .wrapper-flex-center #logo-navbar {
        height: 30px; } }
  .wrapper-flex-center .isi-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    padding-right: 15px; }
    .wrapper-flex-center .isi-wrapper .tulisan-1 {
      height: auto;
      font-size: 1.5em;
      font-family: "coolvetica_condensed";
      color: white;
      margin-left: 15px;
      padding-right: 15px;
      border-right: 2px solid white;
      min-width: 80px; }
      .wrapper-flex-center .isi-wrapper .tulisan-1 span:hover {
        cursor: pointer; }

.wrapper-flex-centertl {
  display: inline-flex;
  width: 100%;
  height: auto;
  justify-content: space-between; }
  @media (max-width: 425px) {
    .wrapper-flex-centertl {
      justify-content: center;
      width: 3em; } }
  @media (max-width: 375px) {
    .wrapper-flex-centertl {
      justify-content: center;
      width: 2.5em; } }
  @media (max-width: 320px) {
    .wrapper-flex-centertl {
      justify-content: center;
      width: 2.25em; } }

#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 99999; }

#popup {
  max-width: 600px;
  width: 80%;
  max-height: 450px;
  height: 40%;
  padding: 20px;
  position: relative;
  background: black;
  margin: 20px auto;
  top: 15%;
  border-radius: 15px;
  color: white;
  font-family: "product_sans"; }
  @media (max-width: 992px) and (orientation: landscape) {
    #popup {
      height: 50%; } }
  @media (max-width: 425px) {
    #popup {
      height: 85%; } }

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white; }

#indo-flag {
  width: 40%; }

#british-flag {
  width: 40%; }

.kotak-bahasa {
  background-color: black;
  border: solid white;
  padding: 5%;
  border-radius: 25px; }
  .kotak-bahasa:hover {
    background-color: white;
    color: black;
    transition-duration: 1s; }

@media (max-width: 992px) and (orientation: landscape) {
  #indo {
    transform: translateX(-25%) translateY(-40%) scale(0.35);
    font-size: xx-large; } }

@media (max-width: 992px) and (orientation: landscape) {
  #english {
    transform: translateX(25%) translateY(-140%) scale(0.35);
    font-size: xx-large; } }
@media (max-width: 425px) {
  #english {
    margin-top: 5%; } }

/*# sourceMappingURL=style_s.css.map */
